.Character {
    white-space: pre;
  }
  
  .CharacterCurrent {
    background-color: #09d3ac;
  }
  
  .CharacterOut {
    color: silver;
  }

  .info {
    white-space: pre;
    color: rgb(156, 156, 156);
  }
  .link {

    white-space: pre;
    color: rgb(231, 135, 24)
}